@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Amatic+SC|Bungee+Shade|Dancing+Script|Fjalla+One|Indie+Flower|Kumar+One|Lobster|Orbitron|PT+Sans+Narrow|Pacifico|Playfair+Display|Shadows+Into+Light|Vampiro+One');


table{
	border-collapse:collapse;
}

thead{
	background-color:#4046FF;
}

th,td{
	border:2px solid #004447;
	padding: 5px;
}

tbody tr:nth-child(even){
	background-color:#00f2ff;
}

tbody tr:nth-child(odd){
	background-color:#96faff;
}

tfoot tr:first-child{
	background-color:#00f2ff;
}

tfoot tr:last-child{
	background-color:#4046FF;
}

.fonto{
	font-family: 'Bungee Shade', cursive;
}













/*
font-family: 'Bungee Shade', cursive;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Kumar One', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Vampiro One', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Orbitron', sans-serif;
*/ 